.first {
  display: flex;
  justify-content:space-between;
}

.second {
  background-image: url("/images/header-illsutration-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: top;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700px;
  font-size: 40px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

.third {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  vertical-align: top;
  color: #172b4d;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  padding: 5;
  gap: 20px;
}

.green {
  color: #36b37e;
}

.line {
  width: 48px;
  height: 4px;
  background-color: #36b37e;
}

.work-section {
  width: 86%;
  align-items: center;
  padding: 10px 15px 15px 10px;
}

.project-container {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 20px;
  justify-content: center;
  padding: 0;
}

.project {
  border: 1px solid green;
  margin: 0;
  width: 327px;
  padding: 0;
  border-radius: 8px;
  height: 474px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.recent {
  text-align: center;
  font-size: 50px;
}

.image-placeholder {
  font-family: 'Inter', sans-serif;
  font-style: 'semi-bold', italic;
  font-size: 24px;
  line-height: 32px;
  line-height: 110%;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: #d0d9d4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn {
  background-color: #36b37f;
  color: white;
  width: 122px;
  height: 48px;
  margin: 20px 0;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  transition: 0.8s;
}

.language {
  list-style: none;
  border: 1px solid #ebf0ee;
  padding: 5px;
  background-color: #ebf0ee;
  margin: 0 5px;
  height: 20px;
}

.lang {
  display: flex;
  padding: 0;
}

.multi {
  text-align: center;
  font-size: 25px;
  margin: 5px 10px;
}

.butt {
  text-align: center;
}

.dis {
  display: flex;
  justify-content: center;
}

.about {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.about2 {
  text-align: center;
  
  font-size: 23px;
  background-image: url(/images/illustration-about\ me-1-desktop@2x.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

.butt2 {
  text-align: center;
  background-color: #36b37e;
  color: white;
}

.groupimg {
  display: flex;
  justify-content: flex-start;
}

.btn2 {
  text-align: center;
}

.project2 {
  border: 1px solid green;
  margin: 30px;
  padding: 20px 1px;
  height: 250px;
  background-color: #e2e6ee;
}

.language-icon {
  display: flex;
  justify-content: center;
}

.lang-text {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.lang-text-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.li-lang {
  border: 5px solid #fff;
  background-color: #fff;
  color: #36b37e;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.get {
  text-align: center;
  border: 2px solid #36b37f;
  background-color: #36b37f;
}

.last {
  font-family: 'Inter', sans-serif;
  font-style: regular;
  font-size: 20px;
  height: 189px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  line-height: 32px;
  margin-top: 17px;
}

.touch {
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  align-items: center;
  margin-bottom: 58px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.textareas {
  align-items: center;
  text-align: center;
}

.btn-resume {
  width: 159px;
}

.resume-container {
  background-image: url(/images/Group.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.skills-container {
  gap: 20px;
  justify-content: center;
}

.form-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
}

ul {
  list-style: none;
}

input {
  padding: 1;
  margin-bottom: 24px;
  width: 300px;
  height: 48px;
}

textarea {
  padding: 0%;
  margin-bottom: 24px;
  width: 305px;
  height: 114px;
}

.button {
  height: 50px;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color:#36B37F;
   transition: 0.8s; 
}

.btn:active {
background-color:black;
/* transition: 0.8s; */
}

.back-image {
  height: 131px;
  background-image: url(/images/illustration-contact-form.png);
  background-repeat: no-repeat;
  background-position: right;
}

@media (min-width: 678px){

  .first {
    display: flex;
    justify-content:center;
    width: 100vw;
    min-height: 8vh;
    position: fixed;
    top:0;
    left:0;
    background-color: transparent;

  }
  .second {
   background-image: url(./images/Header-llustration-desktop.png);
   background-repeat: no-repeat;
   background-size: cover;
   gap:0;
   width: 100vw;
   height: 100vh;
   text-align: center;
   display:flex;
   justify-content: center;
   align-items: center;
    }

  .second h1 {
      margin:0 0 24px 0;
}

  .header-first {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 15px;
    font-family: 'Inter',sans-serif;
  }
  .second-text {
    padding: 10px 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    gap: 20px;
  }
  .socials-list {
    width:30px;
    height:30px;
  }
  .disabled {
    height: 40px;
    width: 40px;
  }
  .recent {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Inter',sans-serif;
    font-weight: 700;

  }

  .project-container {
    display: flex;
    padding: 30px 30px;

  }

  .design-1 {
    gap: 32px;
  }

  .project {
    margin-bottom: 32px;
  }

  .about2 {
    text-align: center;
    width: 920px;
    font-size: 23px;
    
  }
  
  .aboutme-container {
    width: 100vw;
    margin-top: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
  }

  .skills-container {
    display: flex;
    margin-top: 52px;
  }

  .project2 {
    border: 1px solid green;
    margin: 30px;
    padding: 20px 1px;
    width:374px;
    height: 250px;
    background-color: #e2e6ee;
  }
  .form-section {
    display: flex;
    justify-content: center;
    background-image:url(./images/illustration-1-contact-form-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 76%;
    margin:80px auto 110px;
   }

  .form-description {
    width:40%;
  }
  .contact-form {
    width:55%;
  }

  input,
  textarea {
    width: 100%;
  }
  .about2 {
    text-align: center;
    font-size: 23px;
    background-image: url(./images/illustration-about\ me-1-desktop@2x.jg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .resume-container {
    background-image: url(./images/illustration-about-me-2-desktop.pg);
    background-repeat: no-repeat;
    background-position: bottom left;
    
  }

  .new-background {
    background-image: url(./images/illustration-2-contact-form-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-left: 119px;
  }

  .work-section {
    width: 100vw;
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text {
    width: 920px;
    font-size: 20px;
    
  }
  .aboutme section {
    margin: 112px 0 0 0 0;
  }
  .new section {
    display:flex;
  }

.touch {
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  align-items: center;
  font-weight: 700;
  color: #172b4d;
}

.button {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.last {
  height:10px;
}

.back-image{
  display: none ;
}

.form-section {
  background: none;
}

}
